@tailwind base;
@tailwind components;
@tailwind utilities;
.transition-hover {
  transition: 0.3s;
}
.hover-socialMedia {
  @apply hover:text-green-600 hover:scale-125 hover:cursor-pointer transition-transform duration-300 transition-hover;
}

.nav {
  @apply relative block md:inline transition-all duration-300;
}

.nav::before {
  content: '';
  @apply absolute bottom-[-10px] left-0 w-0 h-[3px] bg-black transition-all duration-300 ease-in-out;
}

.nav:hover::before {
  @apply w-full;
}

@media (max-width: 767px) {
  #navMenu {
    @apply flex flex-col items-center justify-center;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
  }

  .nav::before {
    @apply w-0;
  }

  .nav:hover::before {
    @apply w-full;
  }
}

@media (min-width: 768px) {
  #navMenu {
    @apply flex-row relative bg-transparent;
  }
}
